<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.gnawTravle.com.travel.mapper.IStrategyMapper">
    <insert id="save">
        INSERT INTO  t_strategy(ADD_TIME,TITLE,IMG_URL,
        RATING,SUMMARY,INTRO_URL,STATE)
        VALUES(NOW(),#{title},#{imgUrl},
        #{rating},#{summary},#{introUrl},#{state})
    </insert>
    <update id="update">
        UPDATE  t_strategy SET MODIFY_TIME=NOW(),TITLE=#{title},
        IMG_URL=#{imgUrl},
        RATING=#{rating},SUMMARY=#{summary},INTRO_URL=#{introUrl},
        STATE=#{state}
        WHERE id=#{id}
    </update>
    <delete id="deleteByid">
        UPDATE  t_strategy SET DELETE_STATUS=1 WHERE id=#{id}
    </delete>

    <select id="findById" resultType="www.gnawTravle.com.travel.entity.strategy.Strategy">
        SELECT * FROM  t_strategy WHERE ID = #{id} AND DELETE_STATUS=0
    </select>
    <select id="findList" resultType="www.gnawTravle.com.travel.entity.strategy.Strategy">
        SELECT * FROM  t_strategy WHERE DELETE_STATUS=0 ORDER BY ADD_TIME DESC
    </select>
    <select id="indexList" resultType="www.gnawTravle.com.travel.entity.strategy.Strategy">
        SELECT * FROM  t_strategy WHERE DELETE_STATUS=0 AND STATE=1 ORDER BY ADD_TIME DESC
    </select>
    <select id="findListByQuery" resultType="www.gnawTravle.com.travel.entity.strategy.Strategy">
        SELECT * FROM  t_strategy WHERE DELETE_STATUS=0 AND TITLE LIKE #{query,jdbcType=VARCHAR}
        ORDER BY ADD_TIME DESC
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM  t_strategy WHERE DELETE_STATUS=0
    </select>
    <select id="state0count" resultType="java.lang.Long">
        SELECT count(*) FROM  t_strategy WHERE DELETE_STATUS=0 AND STATE=0
    </select>
    <select id="state1count" resultType="java.lang.Long">
        SELECT count(*) FROM  t_strategy WHERE DELETE_STATUS=0 AND STATE=1
    </select>
    <select id="state2count" resultType="java.lang.Long">
        SELECT count(*) FROM  t_strategy WHERE DELETE_STATUS=0 AND STATE=2
    </select>
</mapper>